@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.container {
  background-color: rgba(255, 255, 255, 0.1);
  width: 500px;
  height: 330px;
  border-radius: 5px;
  text-align: center;
  margin: auto;
width: 35%;
padding-top: 20px;
margin-bottom: 50px;
}
.pomodoro-clock{
  justify-content: center;
  align-items: center;
}
.pomodoro-clock-header {
  text-align: center;
  margin-top: 30px;
}

.pomodoro-clock-header-name {
  text-transform: capitalize;
  display: inline-block;
  position: relative;
  /*background-color: #534C98;*/
  padding: 0px 0px;
}
/*
.pomodoro-clock-header-name::before {
  content: '';
  height: 3px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #FDF6F0;
  border-bottom: 1px solid #FDF6F0;
  z-index: -1;
}

/*@media (min-width: 768px) {
  .pomodoro-clock {
    width: 768px;
    margin: 0 auto;
  }
  .pomodoro-clock-header-name::before {
    top: 50%;
    left: -50%;
    width: 200%;
  }
}*/

.body-text{
  background-color: white;
  color: #373331; /*512D6D; 534C98*/
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  padding-top: 30px;
  /*left: -50%; */
  height: 100%;
  padding-bottom: 15px;
}
.text-box {
  width: 45%;
  text-align: justify;
  margin: auto;
  padding-bottom: 20px;
}

p{
  color: #605A56; /*grey;*/
  font-size: 18px;
}
li {
  color: #605A56; /*grey;*/
  font-size: 18px;
}
h2 {
  margin-bottom: 0px;
}
hr {
  width: 20px;
  margin-left: 0%;
  border-top: 5px dotted #388E3C;
  margin-bottom: 40px;
}
.author {
font-size: 15px;
}
.timer-icon {
  animation: wiggle 15s infinite;
}
@keyframes wiggle{
  0%{transform: rotate(-0deg)}
  2%{transform: rotate(-30deg)}
  7%{transform: rotate(30deg)}
  12%{transform: rotate(0deg)}
  100%{transform: rotate(0deg)}
}





/* When Screen gets small*/
@media screen and (max-width: 600px) {
  p{
     /*grey;*/
    font-size: 14px;
  }
  li {
    /*grey;*/
    font-size: 14px;
  }
  .author {
    font-size: 13px;
    }
    h2 {
      font-size: 20px;
    }
    h1  {
      font-size: 25px;
    
    }
    .text-box {
      width: 70%;
    }
    .container {
      width: 70%;
      height: 250px;
    }
}













/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/