.todoListMain {
    width: 20%;
    text-align: justify;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flexbox;
    margin-bottom: 50px;
}

.todoTitle {
  color: #FDF6F0;
}

.todoListMain .header input {
    padding: 10px;
    font-size: 16px;
    border: none; /*2px solid #FDF6F0;*/
    border-radius: 5px;
    width: 175px;
    height: 26px;
  }
  .todoListMain .header button {
    padding: 10px;
    font-size: 16px;
    margin: 10px;
    margin-right: 0px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FDF6F0;
    border: none;
    border-radius: 5px;
    width: 45px;
    height: 45px;

  }
  .todoListMain .header button:hover {
    background-color: #FDF6F0;
    color: #534C98;
    border: none; 
    cursor: pointer;
  }
  .todoListMain .theList {
    list-style: none;
    padding-left: 0;
    width: 250px;
  } 
  .todoListMain .theList li {
    color: #FDF6F0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  ul.theList {
    padding: 0;
  }

  /*cvcvcvcv*/
  .todoListMain .theList li {
    color: #FDF6F0;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
   
    transition: background-color .2s ease-out;
  }
   
  .todoListMain .theList li:hover {
    background-color: #DC552C;
    cursor: pointer;
  }